set autoread
set ai
set backspace=eol,start,indent
set background=dark
set cmdheight=2
set encoding=utf8
set expandtab
set ffs=unix,dos,mac
set foldcolumn=1
set hid
set history=500
set hlsearch
set incsearch
set ignorecase
set langmenu=en
set lbr
set lazyredraw
set magic
set mat=2
set nobackup
set nowb
set noswapfile
set noerrorbells
set novisualbell
set ruler
set regexpengine=0
set smartcase
set showmatch
set showmode
set si
set so=7
set smarttab
set shiftwidth=2
set tm=500
set tabstop=2
set tw=500
set whichwrap+=<,>,h,l
set wrap
set wildmenu
set wildignore=*.o,*~,*.pyc
if has("win16") || has("win32")
  set wildignore+=.git\*,.hg\*,.svn\*
else
  set wildignore+=*/.git/*,*/.hg/*,*/.svn/*,*/.DS_Store
endif
try
  set switchbuf=useopen,usetab,newtab
  set stal=2
catch
endtry
try
  colorscheme slate
catch
endtry

syntax enable
filetype plugin on
filetype indent on
set laststatus=1

" TODO: Fix the following because none work...

" Quickly quit
map qq :qa!

" Arrow keys in all modes...
map <Up> j
map <Down> k
map <Left> h
map <Right> l
imap <Up> j
imap <Down> k
imap <Left> h
imap <Right> l
map! ^[OA ^[ka
map! ^[OB ^[ja
map! ^[OC ^[la
map! ^[OD ^[ha
