**output**
**build**
**tmp**
**secret**
**private**
**key**
**local**
**personal**

*.js
*.ts
*.bat
*.cmd
*.ps
*.ps1
*.ps2
*.psd
*.doc
*.docx
*.id
*.py
*.pyc
*.pem
*.pub
*.env
*.direnv
*.envrc
*.rsa
*.crt
*.pub
*.pfx
*.bmp
*.cert
*.key
*.png
*.jpg
*.jpeg
*.log
*.txt
*.tsv
*.csv
*.sql
*.json
!.zed/settings.json
*.toml
*.yaml
*.yml
!theme.yml
!.github/workflows/*.yml

*docker*
!*docker_test.sh

!.markdownlint.yaml
