**.pem**
**.pub**
**output**
**secret**
**private**
**key**

*.bmp
*.cert
*.key
*.png
*.jpg
*.jpeg
*.log
*.txt
*.tsv
*.csv
*.sql
*.json
!.zed/settings.json
*.toml
*.yaml
*.yml
!theme.yml

*docker*

# data/
# **/travel_config
# **/color_overrides
# **/packages_config
