**.pem**
**.pub**
**output**
**secret**
**private**
**key**

*.bmp
*.cert
*.key
*.png
*.jpg
*.jpeg
*.log
*.txt
*.tsv
*.csv
*.sql
*.json
*.toml
*.yaml
*.yml

*docker*

**/travel_config
**/host_colors
**/user_colors
**/group_colors
**/packages_config
