#!/bin/sh

alias dcl="docker container ls"
alias dcu="docker compose up"
alias dcud="docker compose up -d"
alias dcd="docker compose down"

alias ls="ls -lh --color=auto"
alias lsa="ls -alh --color=auto"
alias grep='grep --color=auto'

alias aliases="nano ~/.sshrc.d/aliases.rc"
alias zed="zeditor"

alias nollama="docker compose -f /home/$USER/projects/csd-selfhost/ollama/compose.yml down"
alias yollama="docker compose -f /home/$USER/projects/csd-selfhost/ollama/compose.yml up -d"
alias zy="yollama && zed"
alias zn="nollama && killall zed-editor"
alias yayy="yay -Syyu"
alias yayc="yay -Sc"
