#!/bin/sh

alias dcl="docker container ls"
alias dcu="docker compose up"
alias dcud="docker compose up -d"
alias dcd="docker compose down"

alias ls="ls -lh --color=auto"
alias lsa="ls -alh --color=auto"
alias grep="grep --color=auto"

# end sh-compatible aliases

alias view="vew" # here to avoid calling vi (and each shell has their own vew functions)
alias hi="sshrc" # wraps our override function
alias hii="ssh"
alias zed="zeditor"

alias nollama="docker compose -f /home/$USER/projects/csd-selfhost/ollama/compose.yml down"
alias yollama="docker compose -f /home/$USER/projects/csd-selfhost/ollama/compose.yml up -d"
alias zy="yollama && zed"
alias zn="nollama && killall zed-editor"

alias yayy="yay -Syyu"
alias yayc="yay -Sc"

alias esshrc="zed ~/.sshrc.d"
