#!/bin/bash
if [ -f ~/.aliasesrc ]; then
  source ~/.aliasesrc
fi
if [ -f ~/aliases.rc ]; then
  source ~/aliases.rc
fi
if [ -f "$SSHHOME/aliases.rc" ]; then
  source "$SSHHOME/aliases.rc"
fi
if [ -f ~/.sshrc.d/aliases.rc ]; then
  source ~/.sshrc.d/aliases.rc
fi

# conditionally load since bat is sometimes batcat on debian systems
if [ -f "/usr/bin/bat" ]; then
  alias batcat="bat"
  alias bat="bat -P --tabs 2 --theme Monokai\ Extended\ Bright --style changes,grid,numbers"
fi

if [ -f "/usr/bin/batcat" ]; then
  alias bat="batcat"
  alias batcat="batcat -P --tabs 2 --theme Monokai\ Extended\ Bright --style changes,grid,numbers"
fi

# Spelled vew to avoid calling vi
vew() {
  local p="${1:-}"

  if [[ -z "$p" ]]; then
    printf 'Usage: %s <file_or_directory>\n' "${FUNCNAME[0]}" >&2
    return 1
  fi

  if [[ -f "$p" ]]; then
    if [ -f "/usr/bin/batcat" -o -f "/usr/bin/bat" ]; then
      bat "$@"
    else
      cat -- "$p"
    fi
  elif [[ -d "$p" ]]; then
    ls "$@"
  else
    printf 'Error: %s is not a regular file or directory.\n' "$p" >&2
    return 2
  fi
}


HISTCONTROL=ignoreboth
HISTSIZE=2000
HISTFILESIZE=2000

shopt -s histappend
shopt -s checkwinsize
shopt -s globstar

[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"
if [ -z "${debian_chroot:-}" ] && [ -r /etc/debian_chroot ]; then
  debian_chroot=$(cat /etc/debian_chroot)
fi
case "$TERM" in
xterm-color | *-256color) color_prompt=yes ;;
esac
force_color_prompt=yes
if [ -n "$force_color_prompt" ]; then
  if [ -x /usr/bin/tput ] && tput setaf 1 >&/dev/null; then
    color_prompt=yes
  else
    color_prompt=
  fi
fi
if [ "$color_prompt" = yes ]; then
  USER_COLOR='32m'
  HOST_COLOR='32m'
  AT_COLOR='32m'
  if [[ ${SSH_TTY} ]]; then
    AT_COLOR='33m' # yellow
  fi
  if [ "$(hostname)" = "swervy" -o "$(hostname)" = "melchior" -o "$(hostname)" = "lenny" -o "$(hostname)" = "clyde" ]; then
    HOST_COLOR='31m' # red
  fi
  if [ "$(hostname)" = "bertha" -o "$(hostname)" = "liona" -o "$(hostname)" = "mavie" ]; then
    HOST_COLOR='35m' # purple
  fi
  if [ "$(hostname)" = "minty" -o "$(hostname)" = "sherrie" ]; then
    HOST_COLOR='34m' # blue
  fi
  if [ "$(hostname)" = "gendo" -o "$(hostname)" = "ryoji" -o "$(hostname)" = "shinji" -o "$(hostname)" = "edison" ]; then
    HOST_COLOR='32m' # green
  fi
  if [ "$(whoami)" = "root" -o "$(whoami)" = "admin" ]; then
    USER_COLOR='31m' # red
  fi
  if [ "$(whoami)" = "team" -o "$(whoami)" = "edison" ]; then
    USER_COLOR='34m' # blue
  fi
  if [ "$(whoami)" = "ivy" ]; then
    USER_COLOR='33m' # yellow
  fi
  PS1=' ${debian_chroot:+($debian_chroot)}\[\033[01;${USER_COLOR}\]\u\[\033[01;${AT_COLOR}\]@\[\033[01;${HOST_COLOR}\]\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
else
  PS1=' ${debian_chroot:+($debian_chroot)}\u@\h:\w\$ '
fi
unset color_prompt force_color_prompt
case "$TERM" in
xterm* | rxvt*)
  PS1="\[\e]0;${debian_chroot:+($debian_chroot)}\u@\h: \w\a\]$PS1"
  ;;
*) ;;
esac
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'
if ! shopt -oq posix; then
  if [[ -f /usr/share/bash-completion/bash_completion ]]; then
    . /usr/share/bash-completion/bash_completion
  elif [[ -f /etc/bash_completion ]]; then
    . /etc/bash_completion
  fi
fi
