#!/bin/sh

PACKAGES=(
  # sudo
  # curl
  wget
  ping
  tldr
  # vi
  # vim
  nano
  # rsync
  # tar
  zip
  jq
  yq
  # netstat
  # avahi-daemon
  neofetch
  docker
  python
  node
  rustup
  asdf
  # direnv
  # cosign
  gpg
  git
  htop
  # bc
)

installed() {
  # TODO: Display important names from groups of commands based on priority
  spacer
  cecho_n "Installed: " $BRGREEN
  for package in "${PACKAGES[@]}"; do
    if command -v "$package" &>/dev/null; then
      cecho_n "$package ✓ " $GREEN
    fi
  done
}

missing() {
  echo
  spacer
  cecho_n "Missing:   " $BRYELLOW
  for package in "${PACKAGES[@]}"; do
    if ! command -v "$package" &>/dev/null; then
      cecho_n "$package ✗ " $YELLOW
    fi
  done
  echo
}
