#!/bin/bash

PACKAGES=(
  sudo
  curl
  wget
  ping
  tldr
  # vi
  # vim
  # nano
  # rsync
  # tar
  # zip
  jq
  netstat
  # avahi-daemon
  # neofetch
  docker
  python
  # node
  # rustup
  # asdf
  # direnv
)

colecho_n " Installed:" $BOLD_GREEN
colecho_n " | " $NC
for package in "${PACKAGES[@]}"; do
  if command -v "$package" &>/dev/null; then
    colecho_n "$package ✓ " $GREEN
  else
    colecho_n "" # do nothing
  fi
done

echo
colecho_n " Missing:  " $BOLD_YELLOW
colecho_n " | " $NC
for package in "${PACKAGES[@]}"; do
  if command -v "$package" &>/dev/null; then
    colecho_n "" # do nothing
  else
    colecho_n "$package ✗ " $YELLOW
  fi
done
echo
