#!/bin/sh
BLACK='\e[0;30m'
RED='\e[0;31m'
GREEN='\e[0;32m'
YELLOW='\e[0;33m'
BLUE='\e[0;34m'
PURPLE='\e[0;35m'
CYAN='\e[0;36m'
WHITE='\e[0;37m'
BOLD_BLACK='\e[1;30m'
BOLD_RED='\e[1;31m'
BOLD_GREEN='\e[1;32m'
BOLD_YELLOW='\e[1;33m'
BOLD_BLUE='\e[1;34m'
BOLD_PURPLE='\e[1;35m'
BOLD_CYAN='\e[1;36m'
BOLD_WHITE='\e[1;37m'
NC='\e[0m'
sshrc_start="# sshrc-config-start"
sshrc_end="# sshrc-config-end"

colecho() {
  echo -e "$2$1$NC"
}

colecho_n() {
  echo -ne "$2$1$NC"
}

spacer() {
  colecho_n " | " $NC
}

time_display() {
  spacer
  echo -e "$BOLD_CYAN$(date -u "+%a %b %e %H:%M:%S %Z %Y")   $NC|$BOLD_YELLOW   $(date "+%a %b %e %H:%M:%S %Z %Y")$NC"
}

remove_between() {
  if test -f $1; then
    sed -i "/^$sshrc_start/,/^$sshrc_end/d" -- $1
  fi
}

copy_config() {
  touch $1
  if ! grep -q "$sshrc_start" $1; then
    echo "$sshrc_start" >>$1
    cat "$SSHHOME/.sshrc.d/$2" >>$1
    echo "$sshrc_end" >>$1
  fi
}

header() {
  colecho '~~~~~~~~~~~~~~~~~~~~~~~~~~ Connected! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~' $BOLD_GREEN
  time_display
  spacer
  colecho_n "$(cat /etc/os-release | grep PRETTY_NAME | cut -d= -f2 | tr -d '"')" $GREEN
  spacer
  colecho_n "$(uname -m)" $PURPLE
  spacer

  if [ -f /usr/bin/bc ]; then
    if [ -f /usr/bin/docker ]; then
      # TODO: Find a non-bc way to do this
      colecho "Running Containers: $(echo "$(docker container ls | wc -l) - 1" | bc)" $BLUE
    else
      colecho "Counting impossible, no docker :(" $BOLD_YELLOW
    fi
  else
    colecho "Counting impossible, no bc :(" $BOLD_YELLOW
  fi
  spacer
  if [ -f ~/.gitconfig ]; then
    colecho_n "Github Identity Found: " $BLUE
    colecho "$(cat ~/.gitconfig | grep email | cut -d= -f2 | tr -d ' ' | awk -F@ '{for(i=0;i<length($2);i++) c=c"●"; print $1"@"c; c=""}')" $YELLOW
  else
    colecho "No Github Identity Found..." $YELLOW
  fi

}

footer() {
  local EXCLUDE="--exclude .git --exclude .gitignore --exclude README.md --exclude hi.sh"
  colecho_n " $(du -sh $EXCLUDE --apparent-size $SSHHOME/.sshrc.d | awk '{ print $1 }') " $NC
  colecho '~~~~~~~~~~~~~~~~~~~~~~~~~ Disconnected! ~~~~~~~~~~~~~~~~~~~~~~~~~~~' $BOLD_RED
  time_display
  spacer
  colecho_n "sshrc closing! " $BLUE
  exit 0
}

clean() {
  remove_between ~/.bashrc
  remove_between ~/.zshrc
  remove_between ~/.nanorc
  remove_between ~/.config/fish/config.fish
  rm -f ~/.aliasesrc
  if [ -f ~/.hushlogin ]; then
    rm -f ~/.hushlogin
  fi
}

run_sshrc() {
  trap 'clean' EXIT
  header

  source $SSHHOME/.sshrc.d/check.rc
  export VIMINIT="let \$MYVIMRC='$SSHHOME/.sshrc.d/vim.rc' | source \$MYVIMRC"
  copy_config ~/.nanorc nano.rc
  copy_config ~/.bashrc bash.rc
  copy_config ~/.zshrc zsh.rc
  copy_config ~/.aliasesrc aliases.rc

  spacer
  colecho_n "sshrc loaded with... " $BLUE

  if [ -f /usr/bin/fish ]; then
    colecho "fish shell! :^)" $GREEN
    copy_config ~/.config/fish/config.fish config.fish
    fish -C "source $SSHHOME/.sshrc.d/aliases.rc && set fish_greeting ''" -i
  elif [ -f /usr/bin/zsh ]; then
    colecho "zsh shell! :)" $PURPLE
    zsh -i
  else
    colecho "only bash today :(" $RED
    bash -i
  fi

  footer
}
