include "/usr/share/nano/*.nanorc"
include "/usr/share/nano/extra/*.nanorc"

set atblanks
set autoindent
set breaklonglines
set constantshow
set indicator
set linenumbers
set mouse
set softwrap
set tabsize 2
set tabstospaces
set whitespace "·»"
set zap

set titlecolor brightwhite,blue
set statuscolor brightwhite,magenta
set selectedcolor black,green
set errorcolor brightwhite,red
set numbercolor black,white
set functioncolor cyan
set scrollercolor brightcyan
