set autoread
set ai "Auto indent
set backspace=eol,start,indent
set background=dark
set cmdheight=1
set encoding=utf8
set expandtab
set ffs=unix,dos,mac
set foldcolumn=1
set hid
set history=500
set hlsearch
set incsearch
set ignorecase
set langmenu=en
set lbr
set lazyredraw
set magic
set mat=2
set nobackup
set nowb
set noswapfile
set noerrorbells
set novisualbell
set ruler
set regexpengine=0
set smartcase
set showmatch
set si "Smart indent
set so=7
set smarttab
set shiftwidth=2
set tm=500
set tabstop=2
set tw=500
set whichwrap+=<,>,h,l
set wrap "Wrap lines
set wildmenu
set wildignore=*.o,*~,*.pyc
if has("win16") || has("win32")
  set wildignore+=.git\*,.hg\*,.svn\*
else
  set wildignore+=*/.git/*,*/.hg/*,*/.svn/*,*/.DS_Store
endif
try
  set switchbuf=useopen,usetab,newtab
  set stal=2
catch
endtry
try
  colorscheme slate
catch
endtry

syntax enable
filetype plugin on
filetype indent on
